<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lubricentro25.ServerSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Lubricentro25.ServerSetting>
            <setting name="DNS" serializeAs="String">
                <value>https://www.lubricentroapi.com/</value>
            </setting>
        </Lubricentro25.ServerSetting>
    </applicationSettings>
</configuration>